.top-cafe {
  display: flex;
  flex-direction: column;
  margin-top: 47px;

  .text {
    display: flex;
    margin-left: 26px;

    hr {
      border: none;
      margin-top: 16px;
      width: 33px;
      height: 4px;
      background: #618967;
      transform: rotate(90deg);
    }

    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  .img-div {
    margin-top: 15px;
    margin-left: 37px;
    display: flex;
    width: calc(100% - 76px);
    flex-wrap: wrap;
    gap: 16px;

    img {
      width: 329px;
      height: 220px;
      border-radius: 10px;
    }
  }

  .more {
    margin: auto;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    width: 720px;
    height: 59px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border-radius: 15px;
  }
}


@media (max-width: 376px) {
  .top-cafe {
    display: none;
  }
}
