.AuthInput {
  background: linear-gradient(0deg, #504b4a, #504b4a),
    linear-gradient(0deg, #706f6f, #706f6f);
  border: none;
  border: 1px solid rgba(112, 111, 111, 1);
  height: 52px;
  width: 355px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 17px 0 24px;
  padding: 0 0 0 10px;
}
