.NewProduct {
  display: none;
  position: absolute;
  z-index: 2;
  height: 697px;
  width: 844px;
  left: 298px;
  top: 145px;

  &:target {
    display: block;
  }

  &__header {
    display: grid;
    place-items: center;
    position: relative;
    height: 80px;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.03em;
    border-bottom: solid 2px rgba(112, 111, 111, 1);
    margin: 0 auto;
    text-align: center;
  }

  &__closed {
    position: absolute;
    top: 0px;
    right: -40px;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 20px;
  }

  form {
    width: 100%;
    height: 100%;
    left: 298px;
    top: 145px;
    border-radius: 20px;
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    padding: 0px 40px;
    display: grid;
    gap: 10px;

    input,
    textarea,
    select {
      height: 60px;
      width: 382px;
      border-radius: 15px;
      margin-left: 95px;
      background: #3d3938;
      border: 1px solid #706f6f;
      border-radius: 15px;
      padding-left: 5px;

      &:invalid {
        border-color: red;
      }

      &::-webkit-file-upload-button {
        cursor: pointer;
        margin: 15px 7px 0 15px;
        width: 133px;
        height: 30px;
        background: #d9d9d9;
        border: 0.6px solid #000000;
      }
    }
    select {
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.03em;
      padding: 10px;
    }
    label {
      position: relative;

      .error {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-4%, -50%);
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.09em;
        color: red;
      }
    }
  }
  #textarea {
    height: 84px;
    max-width: 382px;
    min-width: 382px;
    border-radius: 15px;
    padding: 5px;
    resize: none;
  }
}
