.basket{
    display: flex;
    flex-direction: column;
    .back-home {
        display: flex;
        & img {
            cursor: pointer;
        }
        & p {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
    }
    .basket-title {
        display: flex;
        & hr {
            border: none;
            margin-top: 20px;
            width: 38px;
            height: 6px;
            background: #618967;
            transform: rotate(90deg);
        }
        & h2 {
            height: 39px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }
    .form-basket {
        display: flex;
        flex-direction: column;
        .contact-form {
            display: flex;
            flex-wrap: wrap;
            width: 800px;
            height: 200px;
            background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
            border-radius: 10px;
        }
    }
}