.left, .right, .basket {
    display: flex;
}

p, span, hr {
    margin: 0;
    padding: 0;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    height: 99px;
    justify-content: center;
    gap: 360px;
    .logo {
        width: 100px;
        height: 25px;
        margin-top: 38px;
        margin-right: 72px; 
    }
    input {
        margin-top: 23px;
        width: 191px;
        height: 52px;
        background: #504B4A;
        box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .circle {
        margin-top: 33px;
        width: 32px;
        height: 32px;
        border-radius: 10px;
        text-align: center;
        img {
            width: 13.74px;
            margin-top: 10px;
            height: 13.49px;
        }
    }
    .contact {
        margin-top: 23px;
        margin-left: 10px;
        margin-right: 188px;
        color: #CFCFCF;
        width: 136px;
        height: 39px;
        font-size: 12px;
        line-height: 20px;
        p {
            color: white;
            font-size: 13px;
            font-weight: 700;
        }
    }
    .basket {
        position: relative;
        margin-top: 23px;
        width: 149px;
        height: 52px;
        border-radius: 10px;
        .basket-text {
            margin: 17px 0 0 24px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
        }
        hr {
            margin-top: 25px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            width: 38px;
            height: 0px;
            transform: rotate(90deg);
        }
        p {
            position: absolute;
            right: 12px;
            margin: 14px 0 0 0;
            width: 24px;
            text-align: center;
            height: 24px;
            background: #FFFFFF;
            border-radius: 15px;
            .number {
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                color: #403C3B;
            }
        }
    }
}

.navbar-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}


