body {
  margin: 0;
  background: fixed linear-gradient(360deg, #211F20 0%, #44403F 100%);
  width: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gilroy-Regular", sans-serif;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button{
  cursor: pointer;
  &:disabled{
    opacity: 0.5;
  }
}